* { font-family: Arial; }
#menu { margin: 0; padding: 0; }
#menu > li { list-style: none; }
#menu > li.active > a { background: #ccc; }

#menu > li > a, .menu-placeholder > a {
	display: block;
	width: 128px;
	height: 32px;
	line-height: 32px;
	text-indent: 8px;
	text-decoration: none;
	box-sizing: border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
}

#menu > li > a {
	border: 1px solid #000;
	border-top: 0;
	border-bottom: 0;
}

#menu > li:last-child {
	color: navy;
	border-bottom: 1px solid #000;
}

#menu > li > a:hover {
	background: #eee;
}

.menu-placeholder > a {
	padding-right: 32px;
	background: #030f1a url('menu-bg.png') no-repeat 100% 50%;
	border-bottom: 1px solid rgba(255, 245, 104, 0.5);
	color: #fff568;
}