* { font-family: Arial; }

#menu {
	margin: 0;
	padding: 0;
	z-index: 99999;
}

#menu > li {
	list-style: none;
}

#menu > li > a, .menu-placeholder > a {
	display: block;
	width: 196px;
	height: 28px;
	line-height: 28px;
	text-indent: 8px;
	text-decoration: none;
	background: #eee;
	color: #444;

	box-sizing: border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
}

#menu > li > a {
	border: 1px solid #888;
	border-top: 0;
	border-bottom: 0;
}

#menu > li:last-child {
	color: navy;
	border-bottom: 1px solid #888;
}

#menu > li > a:hover, #menu > li > a:focus, #menu > li.active > a {
	background: #bbb;
}

.menu-placeholder > a {
	padding-right: 32px;
	background: #eee url('menu-bg.png') no-repeat 100% 50%;
	border: 1px solid #777;
}
